<title>REPLY</title>
<style>
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}
</style>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% block content %}


      <table>
            <tr>
               <th>Author</th>
               <th>Content</th>
            </tr>


            {% for post in posts %}
               <tr>
                  <td>{{ post.author }}</td>
                  <td>{{ post.content }}</td>
               </tr>
            {% endfor %}



      </table>

      <form action = "{{ request.path }}" method = "post">
         <label for = "content">Please write your reply below: </label><br>
         <input type = "text" name = "content" placeholder = "Add a reply..." /><br>
         <input type = "submit" value = "Submit to post" />
      </form>
	{%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            <span style="color: red;">{{ message }}</span>
         </div>
      {%- endfor %}

    <a href = "{{ url_for('show_all') }}">Back to Home Page</a><br><br><br>
{% endblock %}
